##Import the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as ply

##Import the dataset

In [2]:
dataset = pd.read_csv('US_Data.csv')
dataset.head()
dataset.drop(dataset.index[588:593], inplace=True)
dataset.tail(10)

           DATE  FedInterestRate  ...  DollarYen  SP5006monthslater
578  01/03/2019             2.41  ...   111.1443        2926.459961
579  01/04/2019             2.42  ...   111.6414        2976.739990
580  01/05/2019             2.39  ...   109.9714        3037.560059
581  01/06/2019             2.38  ...   108.0685        3140.979980
582  01/07/2019             2.40  ...   108.2864        3230.780029
583  01/08/2019             2.13  ...   106.1886        3225.520020
584  01/09/2019             2.04  ...   107.5400        2954.219971
585  01/10/2019             1.83  ...   108.1368        2584.590088
586  01/11/2019             1.55  ...   108.8579        2912.429932
587  01/12/2019             1.55  ...   109.1010        3044.310059

[10 rows x 11 columns]

In [3]:
X = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values

##Splitting the Dataset

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

#Training the Decision Tree Model

In [5]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state= 1)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

##Predict Results

In [6]:
#latest_data = (Fed interest rate, Inflation, GDP, S&P500 close, Unemployment rate,
# Government debt to GDP ratio, Total coporate debt, GBP/Dollar, Dollar/Yen)
latest_data = 0.25, 0.1, 21200, 3049.63, 13.30, 1.0690, 6781622, 1.24184, 107.19 
y_pred = regressor.predict([[0.25, 0.1, 21200, 3049.63, 13.30, 1.0690, 6781622, 1.24184, 107.19]])
print(y_pred)

[2238.830078]

In [7]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[1805.81 1681.55]
 [2640.87 2705.27]
 [ 111.52  104.95]
 [2823.81 2519.36]
 [  99.93   96.11]
 [ 131.27  131.21]
 [  95.58   98.7 ]
 [ 182.08  189.82]
 [ 273.5   271.91]
 [1920.03 1972.18]
 [ 182.08  202.17]
 [1438.24 1473.99]
 [ 885.14  899.47]
 [  94.7    93.15]
 [  87.3    91.15]
 [1397.91 1310.33]
 [1191.33 1234.18]
 [ 116.18  121.89]
 [1454.6  1452.43]
 [ 284.2   274.08]
 [2506.85 2704.1 ]
 [1363.61 1325.83]
 [ 288.36  291.7 ]
 [ 179.83  180.66]
 [ 102.03  107.46]
 [1115.1  1036.19]
 [ 343.93  367.07]
 [1372.71 1320.64]
 [ 414.03  431.35]
 [ 107.14  107.39]
 [ 417.09  408.78]
 [1378.55 1468.36]
 [ 450.19  440.19]
 [  99.93   96.28]
 [1049.34  916.92]
 [ 444.27  458.26]
 [ 105.24  102.1 ]
 [1249.48 1248.29]
 [  83.36   88.75]
 [ 101.64  100.18]
 [ 235.52  247.35]
 [ 459.27  470.42]
 [  63.54   69.97]
 [ 687.33  786.16]
 [1400.38 1377.94]
 [ 113.66  111.24]
 [2043.94 1940.24]
 [ 387.86  395.43]
 [2198.81 2168.27]
 [ 122.55  125.46]
 [ 757.12  757.02]
 [ 163.58  166.1 ]
 [ 111.88  109.61]
 [ 251.79  321.83]
 [2096.95 2065.3 ]
 [ 133.72  120.42]
 [ 346.08  351.45]
 [ 116.03  116.67]
 [ 163.41  166.07]
 [1249.48 1106.73]
 [2760.17 2711.74]
 [ 322.22  304.  ]
 [1049.33 1144.94]
 [2954.22 3230.78]
 [2718.37 2816.29]
 [2063.11 2059.74]
 [1282.83 1267.38]
 [ 450.91  467.83]
 [ 130.92  132.59]
 [ 108.29   95.96]
 [1160.33 1366.01]
 [ 581.5   584.41]
 [ 102.54  100.68]
 [ 403.69  414.95]
 [1454.6  1498.58]
 [ 251.79  230.3 ]
 [1388.91 1282.71]
 [1327.22 1286.12]
 [1372.71 1366.42]
 [ 533.4   514.71]
 [ 989.82  916.07]
 [1400.38 1280.  ]
 [2954.22 3225.52]
 [ 181.18  167.24]
 [2198.81 2126.15]
 [ 353.4   329.08]
 [ 651.99  705.27]
 [2043.94 1932.23]
 [  99.03   98.34]
 [1156.85 1191.5 ]
 [ 107.67  107.2 ]
 [1133.84 1090.82]
 [1270.2  1303.82]
 [ 533.4   500.71]
 [1994.99 2067.56]
 [2063.11 2103.84]
 [ 459.27  487.39]
 [1429.4  1436.51]
 [2823.81 2713.83]
 [1440.67 1498.11]
 [1549.38 1420.6 ]
 [2362.72 2098.86]
 [1363.61 1312.41]
 [  98.44   98.42]
 [  63.54   73.9 ]
 [1049.34  963.59]
 [ 257.07  304.  ]
 [1270.09 1294.87]
 [ 103.94   93.99]
 [ 163.58  166.09]
 [2648.05 2673.61]
 [  79.31   72.15]
 [ 825.88  896.24]
 [  94.7    96.83]
 [1104.49 1073.87]
 [1030.71 1089.41]
 [1335.18 1301.84]
 [  87.28   90.31]]

##Evaluating Model Performance

In [8]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9918931715601333